@charset "utf-8";

*{/* 별(*)은 전체를 택한다는 의미, 모든 엘리먼트에 적용되는 스타일 지정 */
    margin: 0 auto;/* 좌우 바깥 여백을 자동 할당하여 중앙 정렬로 만듬 */
    padding: 0;
    list-style: none;/*리스트 태그(ul, ol, li)에 목록스타일(점, 기호)을 없애주는 속성*/
    font-family: "맑은 고딕";
    color: #222328;
}

body{
    width: 1000px;
    background-color: #ffffff;
    font-size: 20px;
}

a{
    text-decoration: none;/*링크가 걸린 텍스트(a태그)에 기본속성인 밑줄이 나타나지 않도록 지정*/
    display: block;/* 박스요소를 block속성으로 표하며 요소 앞뒤로 줄바꿈 되도록함 한 줄 전체(너비100%)를 차지하게 함 */
    /* a태그와 img태그는 기본이 인라인요소이다 */
}

header{
    float: left;/* 박스요소이기 때문에 각각 다른줄?한줄?에 나타나게됨 이것을 해결하기 위해
     플롯레프트 속성을 사용하여 박스요소를 왼쪽으로 띄어서 배치한다 */
}

.top{/* 와이어프레임을 보면 top부분이 왼쪽 전체를 차지하고 있다 */
    float: left;
    height: 650px;/* 와이어프레임에 제시된 각 영역의 높이를 더한 값 */
    width: 200px;/* 임의로 지정 */
}

.logo{
    float: left;
    height: 40px;
    width: 200px;
    margin: 30px 0;/*로고의 위아래로 여백을 주기위해 지정*/
}

.menu{
    width: 180px;
    top: 100px;/*메뉴가 위로부터 100px떨어져 나가게 함 ??? 사실 뭔지 잘 모르겟음 margin-top인가*/
    text-align: center;/*text 가운데정렬*/
}

.navi>li{
    float: left;
    width: 180px;
}

.navi>li>a{
    height: 40px;
    width: 180px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: #222328;
    color: #ffffff;
}

.navi>li>a:hover{
    background-color: #930930;
    color: #ffff00;
}

.submenu{
    float: left;
    width: 100%;
    display: none;/*서브메뉴가 나타나지 않게 지정*/
}

.submenu>li>a{
    height: 40px;
    width: 180px;
    line-height: 40opx;
    font-size: 14px;
    font-weight: bold;
    background-color: #cccccc;
    color: #ffffff;
}

.submenu>li>a:hover{
    background-color: #999999;
    color: #ffff00;
}

.imgslide{/*이미지와 이미지 위 텍스트 영역*/
    float: right;
    height: 350px;
    width: 800px;/* 왼쪽 메뉴가 들어갈 영역(.top)의 넓이를 200으로 지정했으므로 전체넓이에서 200을 뺀 값으로 지정 */
    position: relative;/*기준점*/
}

.imgslide>a{
    display: block;
    position: absolute;/*imgslide를 기준으로 삼아 절대 좌표값을 가지게 됨*/
    left: 0;
    top: 0;
}

.imgtext{/*이미지위에 나타날 글자*/
    height: 50px;
    width: 300px;
    position: absolute;
    margin: -25px 0 0 -150px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    line-height: 50px;
    background-color: rgba(40,40,40,0.3);
    left: 50%;/*컨테이너 시작점을 기준으로 50%의 여백*/
    top: 50%;/*컨테이너 시작점을 기준으로 50%의 여백*/
    /*
        부모요소에 position:relative를 주고
        자식요소에 position:absolute를 적용한 후

        margin-top : height의 1/2 음수값(-);,
        margin-left : width의 1/2 음수값(-); ex) margin: -25px 0 0 -150px;
        left: 50%;
        top: 50%;

        이 조합으로 준다면 수평, 수직으로 동시에 가운데 정렬을 할 수 있다
    */
}


.contents{/*공지사항, 갤러리, 바로가기를 묶어주는 영역*/
    float: right;
    height: 200px;
    width: 800px;
}

.notice{
    float: left;
    height: 190px;
    width: 280px;
    margin-top: 10px;
}

.tab{
    float: left;
    width: 300px;
}

.tab>h4{
    float: left;
    height: 30px;
    height: 30px;
    width: 80px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #000000;
}

.notice>.tab{/*공지사항 글자영역의 스타일 지정*/
    width: 280px;
    border-bottom: 1px solid #cccccc;
}

.notice ul{
    float: left;
    height: 30px;
    width: 280px;
    line-height: 30px;
    font-size: 14px;
}

.notice li span{/*notice요소의 후손(하위요소에 해당하는 모든)요소 span에 지정*/
    float: right;
}

.notice li:nth-child(2n){/*.notice요소의 후손요소 li요소의 2배수 요소의 스타일 지정*/
    background-color: #cccccc;
}

.notice li:hover{
    font-weight: bold;
}

.gallery{
    float: left;
    height: 190px;
    width: 300px;
    margin-top: 10px;
    margin-left: 20px;
}

.gallery>div{/*.gallery>tab*/
    width: 280px;
    border-bottom: 1px solid #cccccc;
}

.gallery ul li{/*이미지 간격사이에 padding:10px,mt:10px 여백설정*/
    float: left;
    padding: 10px;
    margin-top: 10px;
}

.gallery img{/*각각 이미지에 크기 설정*/
    height: 90px;
    width: 75px;
}

.gallery li:hover{
    opacity: 0.5;/*마우스를 올리면 불투명도 50%로 나타나도록 설정*/
}

.shortcut{
    float: left;
    height: 200px;
    width: 200px;/* 정해진 값이 없으므로 임의로 800/3 해서 지정 */
}

.shortcut img{
    float: right;
    margin-top: 10px;
    height: 180px;
    width: 180px;
}

.sctext{/*바로가기 text영역의 스타일 지정*/
    float: right;
    height: 30px;
    width: 100px;
    position: absolute;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    line-height: 30px;
    background-color: rgba(40, 40,40,0.3);
    margin-top: 80px;
    margin-left: 60px;
}

.sctext:hover{
    opacity: 0.5;/*불투명도*/
}

#modal{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.6);
    z-index: 1;
    display: none;/*처음엔 나타나지 않도록 d:n처리*/
}

#modal.active{/*#modal에 active 클래스가 추가되면 나타냄*/
    display: block;
}

.modal_up{/*모달레이어가 팝업될때 나타나는 영역*/
    width: 400px;
    height: 300px;
    position: fixed;
    left: 40%;
    top: 40%;
    background-color: #ffffff;
}

.uptitle{
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
}

.upbody{
    padding: 30px;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
}

.btn{
    height: 20px;
    width: 80px;
    cursor: pointer;/*해당 태그 위에 위치하는 마우스 커서의 모양을 변경*/
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-right: 3px;
    background: #cccccc;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

footer{
    float: right;
}

.bottom{
    float: left;/*푸터영역내에서 .copy, .site, .familsite 영역이 왼쪽부터 배치되도록 지정*/
    height: 100px;
    width: 800px;
}

.copy{
    float: left;/*푸터영역의 왼쪽*/
    height: 100px;
    width: 600px;
}

.site{
    float: right;/*푸터영역의 오른쪽*/
    height: 100px;
    width: 200px;
}

.sns{
    float: right;
    height: 50px;/*.site는 두 행으로 구분되므로 100/2 해서 지정*/
    width: 200px;
}

.familysite{
    float: right;
    height: 50px;/*.site는 두 행으로 구분되므로 100/2 해서 지정*/
    width: 200px;
}